<a href="https://colab.research.google.com/github/Ausmints/demo-repo/blob/main/Football_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
! pip install kaggle
! mkdir ~/.kaggle

Requirement already satisfied: kaggle in /usr/local/lib/python3.7/dist-packages (1.5.12)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.7/dist-packages (from kaggle) (2.8.2)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.7/dist-packages (from kaggle) (1.24.3)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from kaggle) (2.23.0)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.7/dist-packages (from kaggle) (1.15.0)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from kaggle) (4.62.3)
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from kaggle) (2021.10.8)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.7/dist-packages (from kaggle) (5.0.2)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.7/dist-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->kaggle) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->kaggle) (3.0.4)

In [3]:
! cp kaggle.json ~/.kaggle/

In [4]:
! chmod 600 ~/.kaggle/kaggle.json

In [8]:
! kaggle datasets download <prajitdatta/ultimate-25k-matches-football-database-european>

/bin/bash: -c: line 0: syntax error near unexpected token `newline'
/bin/bash: -c: line 0: ` kaggle datasets download <prajitdatta/ultimate-25k-matches-football-database-european>'

In [10]:
! kaggle datasets download prajitdatta/ultimate-25k-matches-football-database-european

Downloading ultimate-25k-matches-football-database-european.zip to /content
 98% 32.0M/32.7M [00:00<00:00, 47.5MB/s]
100% 32.7M/32.7M [00:00<00:00, 82.3MB/s]

In [15]:
! unzip /content/ultimate-25k-matches-football-database-european.zip

Archive:  /content/ultimate-25k-matches-football-database-european.zip
replace database.sqlite? [y]es, [n]o, [A]ll, [N]one, [r]ename: n

In [11]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib.patches as mpatches
import seaborn as sns

In [12]:
sns.set()
colors = {"blue": "#4C72B0", "orange": "#DD8452", "green": "#55A868", "red": "#C44E52", "grey": "#8C8C8C"}

In [16]:
import sqlite3
print(sqlite3.sqlite_version)  # needed 3.37.0
con = sqlite3.connect("database.sqlite")
cur = con.cursor()

3.22.0

In [17]:
query = """
    SELECT name FROM sqlite_master WHERE type = "table"
    """

df = pd.read_sql_query(query, con)
df

                name
0    sqlite_sequence
1  Player_Attributes
2             Player
3              Match
4             League
5            Country
6               Team
7    Team_Attributes

In [23]:
df = pd.read_sql_query("SELECT * from Team_Attributes LIMIT 10", con)
df

   id  team_fifa_api_id  ...  defenceTeamWidthClass defenceDefenderLineClass
0   1               434  ...                 Normal                    Cover
1   2               434  ...                 Normal                    Cover
2   3               434  ...                 Normal                    Cover
3   4                77  ...                   Wide                    Cover
4   5                77  ...                 Normal                    Cover
5   6                77  ...                 Normal                    Cover
6   7                77  ...                 Normal                    Cover
7   8                77  ...                 Normal                    Cover
8   9                77  ...                 Normal                    Cover
9  10               614  ...                 Narrow             Offside Trap

[10 rows x 25 columns]

In [21]:
df = pd.read_sql_query("SELECT * from Match LIMIT 10", con)
df

   id  country_id  league_id     season  stage  ...   GBD    GBA   BSH   BSD   BSA
0   1           1          1  2008/2009      1  ...  3.25   4.00  1.73  3.40  4.20
1   2           1          1  2008/2009      1  ...  3.25   3.75  1.91  3.25  3.60
2   3           1          1  2008/2009      1  ...  3.20   2.50  2.30  3.20  2.75
3   4           1          1  2008/2009      1  ...  3.75   5.50  1.44  3.75  6.50
4   5           1          1  2008/2009      1  ...  3.50   1.65  4.75  3.30  1.67
5   6           1          1  2008/2009      1  ...  3.40   1.70   NaN   NaN   NaN
6   7           1          1  2008/2009      1  ...  3.25   3.75  2.10  3.25  3.10
7   8           1          1  2008/2009      1  ...  3.20   2.25  2.88  3.25  2.20
8   9           1          1  2008/2009      1  ...  3.30   2.80  2.25  3.20  2.80
9  10           1          1  2008/2009     10  ...  5.00  10.00  1.29  4.50  9.00

[10 rows x 115 columns]

In [22]:
df = pd.read_sql_query("SELECT * from Team LIMIT 10", con)
df

   id  team_api_id  team_fifa_api_id     team_long_name team_short_name
0   1         9987             673.0           KRC Genk             GEN
1   2         9993             675.0       Beerschot AC             BAC
2   3        10000           15005.0   SV Zulte-Waregem             ZUL
3   4         9994            2007.0   Sporting Lokeren             LOK
4   5         9984            1750.0  KSV Cercle Brugge             CEB
5   6         8635             229.0     RSC Anderlecht             AND
6   7         9991             674.0           KAA Gent             GEN
7   8         9998            1747.0          RAEC Mons             MON
8   9         7947               NaN      FCV Dender EH             DEN
9  10         9985             232.0  Standard de Liège             STL

In [19]:
df = pd.read_sql_query("SELECT * from Player_Attributes LIMIT 10", con)
df

   id  player_fifa_api_id  ...  gk_positioning gk_reflexes
0   1              218353  ...               8           8
1   2              218353  ...               8           8
2   3              218353  ...               8           8
3   4              218353  ...               7           7
4   5              218353  ...               7           7
5   6              189615  ...               9          12
6   7              189615  ...               9          12
7   8              189615  ...               9          12
8   9              189615  ...               9          12
9  10              189615  ...               9          12

[10 rows x 42 columns]